header{
    width: 100%;
    height:auto;
    background-color:$black ;
    display: flex;
    flex-direction: row;

    #logo{
        width: 200px;
        margin: 20px 50px;
    }

    ul{
        display: flex;
        flex-direction: row;
        margin-left:54%;
        margin-top: 2%;
        li{
            margin: 20px;
        }
    }
    
    a{
        font-size: 25px;
        background-color: none;
        color: $white;
        padding: 10px 20px;
        width: 100px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: block;
        border-radius: 10px;
        transition: all .5s ease;
    }
    
    a:hover{
        color: $red;
        text-decoration: underline;
    }
}

