<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/4cc4d099df.js" crossorigin="anonymous"></script>
    <title>Roku Streaming Service</title>
</head>


<header>
    <img id="logo" src="images/roku_logo.svg" alt="roku logo">
    <ul class="login-buttom">
       <li> <a href="./login.hbs">LOG IN</a></li>
       <li><a href="./signup.hbs">SIGN UP</a></li>
       
    </ul>
  
</header>
<body>
    <main id="app">


       
        

        {{{body}}}

    </main>

    <script defer type="module" src="scripts/main.js"></script>

</body>
</html>