
    <section class="login-box">

        <h2 class="">{{ LoginMessage }}</h2>
        

        <p>Don't have an account? <a href="signup.hbs">SIGN UP</a>  </p>

        <div class="login-form">

            <form action="/views/login.hbs" method="post">

            <!-- <label for="username">Username:</label> -->
            <div class="input-area">
             <i class="fas fa-user"></i>
             <input id="username" type="text" name="username" value="" placeholder="ENTER USERNAME*">
            </div>

            <div class="input-area">
             <i class="fas fa-key"></i>
             <!-- <label for="password">Password:</label> -->
             <input id="password" type="text" name="password" value="" placeholder="ENTER PASSWORD*">
            </div>

             <button type="submit" name="submit">LOG IN</button>
              <router-link to="/">BACK</router-link>
            <a href="index.hbs">BACK</a>
            <!-- <h4>* Login Attempt: <?php echo $_SESSION['login_attempts']; ?> </h4> -->
                <!-- <h5>Account will complete lockout after you 3 failed login attempts, please be careful ！！！</h5> -->
            </form>
        </div>

    </section>

